ion-card {
    padding: 16px;
  }
  
  ion-card-title {
    text-align: center;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #00A0DC; /* Cor para os links */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  