<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login no Froggers</ion-title>
      <img src="../../assets/icon/frogger.png" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entrar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" placeholder="Digite seu nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" placeholder="Digite sua senha"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary">Cadastrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
